:root {
    --main-bg-color: #026c3e;
    --secondary-bg-color: #f5ec45;
    --dark-bg-color: #343a40;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: #F2EDED;
    color: white;
}

/*UTILS */
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.myAuto {
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    margin: 0px auto;
    max-width: 80em;
}

/* Navbar */
nav {
    width: 100%;
    height: 10vh;
    background: #F2EDED;
    border-bottom: 3px solid var(--main-bg-color);

}

.logo{
    margin: auto;
    margin-left: 47.5%;
}



/* TITLE */ 

.mainh1 h1 {
    color: var(--main-bg-color);
    font-weight: 500;
    font-size:45px;
    position: absolute;
    margin-top: 20px;
    margin-left: 45%;
}

/* FLECHE PRECEDENT */

.arrow {
    width: 50%;
    position: absolute;
    margin-top: 13px;
    margin-left: 2%;
}

.arrow span {
    font-family: 'Roboto', sans-serif;
    color: var(--main-bg-color);
}

.arrow a {
    font-size: 20px;
    font-weight: 100;
    color: var(--main-bg-color);
    transition: 0.4s;
    scroll-behavior: smooth; 
}

.arrow a:hover {
    font-size: 26px;
}


/* CONTAINER */

.container-box {
    margin-top: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 79%;
    background-color: rgba(2,108,62); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 0px;
    font-weight: lighter;
}

h3, p {
margin: 4vh;
text-align: left;
}

h3 {
    font-size: 22px;

}

label {
    display: table-cell;
    font-weight: bold;
}

input {
    margin-bottom: 11vh;
    width: 40vh;
    height: 40px;
    border-radius: 0;
    border: none;
    padding: 10PX;
}

input[type="button"] {
    background-color: #b63939;
    color: white;
    border-radius: 0;
    border: none;
    font-weight: lighter;
    margin-left: 2vh;    
    text-align: center;
    padding: 0;
}

input[type="button"]:hover {
    background-color: #9b2929;
}

input[type="button"]:active {
    background-color: #792323;
}

input[type="button"]:focus {
    outline: none;
}

.row {
    margin: 5vh;
}

hr {
    width: 600px;

}

/* FOOTER */

footer .footer-bg {
    width: 100%;
    height: 550px;
    margin-top:44%;
    margin-bottom: 0;
    background-color: rgba(2,108,62, 0.7); 
}

/* YELLOW BARS */
.left-f,.right-f  {

    height: 350px;
    margin-top: 40Px;
}


.left-f {
    border-right: solid 5px var(--secondary-bg-color);
    padding-right: 5px;
    margin-left: -5px;
    
}

.right-f {
    border-left: solid 2px var(--secondary-bg-color);
    padding-left: 5px;
    margin-left: 5px;
}

/* Heurs / Coordronés */ 

.hours, .coord {
    list-style: none;
    color:white;
    margin-left: 50px;
    margin-top: 60px;
}

/* NOUS CONTACTER */
footer h1 {
    color: white;
    padding-top: 80Px;
    padding-left: 80px;
    padding-bottom: 6px; 
}
/* YELLOW BAR NOUS CONTACTER */
.footer-bg #border {
    border-bottom: 4px solid var(--secondary-bg-color);
    width: 50px;
    margin-left: 90px;
}

/* CONTACT FORM */

.box-form {
    margin-top: -120px;
    width: 310px;
    height: 465px;
    background-color: white;
    padding: 1px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px black;
}

.box-form input[type=text], select, textarea {
    width: 97%; 
    padding: 2px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: none;
  }

  .box-form input[type=text], textarea {

    border: 0.3px solid black;

  }

  .box-form input[type=text]:hover {
    border: solid 2px black;
  }

.box-form input[type=button] {
    background-color: #2F2E2E;
    color: white;
    padding: 6px 20px;
    width: 40%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .box-form input[type=button]:hover {
    background-color: #6E6968;
  }


  /* COPYRIGHT */
  
  .copyright {
    background-color: var(--dark-bg-color);
    height: 70px;
    width: 100%;
    position: relative;
    margin-top: -10vh;
  }
  
  .copyright p {
    text-align: center;
    color: white;
	bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
