:root {
    --main-bg-color: #026c3e;
    --secondary-bg-color: #f5ec45;
    --dark-bg-color: #343a40;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #F2EDED;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/*UTILS */
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.myAuto {
    margin-top: auto;
    margin-bottom: auto;
}



/* Navbar */
nav {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: white;
    border-bottom: 3px solid var(--main-bg-color);
}


.nav-tabs {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;

    border: 0;
}

.nav-tabs div,
.nav-tabs li {
    flex: -1;
    width: 200px;
    align-self: center;
}

.nav-tabs .dropdown {
    text-align: end;
}

.nav-tabs .arrow {
    margin-left: 20px;
    text-align: start;
}

.logo {
    align-self: center;
}

.nav-link {
    color: var(--main-bg-color);
    text-decoration: none;
    border: none;
}

.nav-link {

    color: var(--main-bg-color);
    text-decoration: none;
    border: none;
}

.nav-link:hover {
    color: var(--dark-bg-color);
    border: none;
}

.nav-link::after {
    border: none;
}

.dropdown-menu a:hover {
    background-color: var(--main-bg-color);
}


/* COMPTE (à droite) */
/* COMPTE (à droite) */

span#account {
    color: var(--main-bg-color);
}

#arrow {
    font-size: 20px;
    font-weight: 100;
    color: var(--main-bg-color);
    transition: 0.4s;
    scroll-behavior: smooth;
}


/* FLECHE PRECEDENT */


.arrow span {
    font-family: 'Roboto', sans-serif;
    color: var(--main-bg-color);
}

.arrow a {
    font-size: 20px;
    font-weight: 100;
    color: var(--main-bg-color);
    transition: 0.4s;
    scroll-behavior: smooth;
}

.arrow a:hover {
    font-size: 26px;
}

/* CONTAINER */

.container {
    text-align: center;
    margin-top: 10vh;
}

/* Image */

.container img {
    width: 28rem;
    position: relative;
    margin-bottom: 10vh;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);

}

/* Text */

h2,
h5 {
    font-weight: lighter;
}

h3 {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 2px;
}

p {
    width: 600px;
    text-align: center;
    margin: auto;
}

.reserv h2,
.coord h2 {
    font-weight: bold;
}

.reserv h2 {
    font-weight: bold;
    margin: 6vh;
}

.reserv h3,
.coord h3 {
    font-weight: lighter;
    margin: 2vh;
}

/* Button */

.container input {

    background-color: #b63939;
    border-radius: 0;
    border: none;
    padding: 7px;
    margin-top: 2vh;
    margin-bottom: 6vh;
    color: white;
    font-weight: lighter;
}

input[type="button"]:active {
    background-color: #792323;
}

input[type="button"]:hover {
    background-color: #9b2929;
}

input[type="button"]:focus {
    outline: none;
}

hr {
    width: 600px;
}

/* FOOTER */

footer .footer-bg {
    width: 100%;
    height: 550px;
    margin-bottom: 0;
    background-color: rgba(2,108,62, 0.7); 
}

/* YELLOW BARS */
.left-f,.right-f  {

    height: 350px;
    margin-top: 40Px;
}


.left-f {
    border-right: solid 5px var(--secondary-bg-color);
    padding-right: 5px;
    margin-left: -5px;
    
}

.right-f {
    border-left: solid 2px var(--secondary-bg-color);
    padding-left: 5px;
    margin-left: 5px;
}

/* Heurs / Coordronés */ 

.hours, .footer-bg .coord {
    list-style: none;
    color:white;
    margin-left: 50px;
    margin-top: 60px;
}

/* NOUS CONTACTER */
footer h1 {
    color: white;
    padding-top: 80Px;
    padding-left: 80px;
    padding-bottom: 6px; 
    text-align: left;
}

/* YELLOW BAR NOUS CONTACTER */
.footer-bg #border {
    border-bottom: 4px solid var(--secondary-bg-color);
    width: 50px;
    margin-left: 90px;
}

/* CONTACT FORM */

.box-form {
    margin-top: -120px;
    width: 310px;
    height: 450px;
    background-color: white;
    padding: 1px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px black;
}

.box-form input[type=text], select, textarea {
    width: 97%; 
    padding: 2px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: none;
  }

.box-form input[type=text], textarea {

    border: 0.3px solid black;

  }

.box-form input[type=text]:hover {
    border: solid 2px black;
  }

.box-form input[type=button] {
    background-color: #2F2E2E;
    color: white;
    padding: 6px 20px;
    width: 40%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .box-form input[type=button]:hover {
    background-color: #6E6968;
  }


    /* COPYRIGHT */
  
    .copyright {
        background-color: var(--dark-bg-color);
        height: 70px;
        width: 100%;
        position: relative;
      }
      
      .copyright p {
        text-align: center;
        color: white;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }
    
      /*Cookie Consent Begin*/
      .cookiealert {
        background-color: rgba(20,20,20,0.8);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0 !important;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        border-radius: 0;
        transform: translateY(100%);
        transition: all 100ms ease-out;
        color: #ecf0f1;
      }
    
      .cookiealert.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
        transition-delay: 1000ms;
    }
    .cookiealert a {
        text-decoration: underline;
        color: #4B8EE7;
        cursor: pointer;
    }
    
    .cookiealert .acceptcookies {
        margin-left: 10px;
        vertical-align: baseline;
    }
    .cookiealert button {
        background-color: var(--secondary-bg-color);
        color: #000;
        display: inline-block;
        border-radius: 5px;
        width: 150px;
        height: 30px;
        cursor: pointer;
        float: right;
        border: none;
        margin: 10px;
        padding:5px;
      }
    
    .cookiealert button:hover {
        background-color: var(--dark-bg-color);
        color: white;
    }
    
    .cookiealert button:focus {
        outline: none;
        color: var(--dark-bg-color);
    }
    
    .cookiealert button.active {
        color: var(--dark-bg-color);
        outline: none;
    
    }