:root {
    --main-bg-color: #026c3e;
    --secondary-bg-color: #f5ec45;
    --dark-bg-color: #343a40;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-image: url("../assets/gallery/djmel-big.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/*UTILS */
a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

.myAuto {
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    margin: 0px auto;
    max-width: 80em;
}

/* Navbar */
nav {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: white;
    border-bottom: 3px solid var(--main-bg-color);
}


.nav-tabs {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;

    border: 0;
}

.nav-tabs div,
.nav-tabs li {
    flex: 1;
    width: 100%;
    align-self: center;
}

.nav-tabs .dropdown{
    text-align: end;
}

.nav-tabs .arrow {
    margin-left: 20px;
    text-align: start;
}

.nav-link {
    color: var(--main-bg-color);
    text-decoration: none;
    border: none;
}

.nav-link {
    color: var(--main-bg-color);
    text-decoration: none;
    border: none;
}

.nav-link:hover {
    color: var(--dark-bg-color);
    border: none;
}

.nav-link::after {
    border: none;
}

.dropdown-menu a:hover {
    background-color: var(--main-bg-color);
}


/* COMPTE (à droite) */

span#account {
    color: var(--main-bg-color);
}

#arrow {
    font-size: 20px;
    font-weight: 100;
    color: var(--main-bg-color);
    transition: 0.4s;
    scroll-behavior: smooth;
}

.wrapper {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* TITLE */

.mainh1  {
    color: var(--main-bg-color);
    font-weight: 500;
    font-size: 45px;
    position: relative;
    margin: 20px auto 0;
    padding: auto;
    text-align: center;
}

/* CONTAINER */

.container-box {
    margin-top: 5vh;
    position: relative;
    width: 80vw;
    text-align: start;
    height: 70vh;
    background-color: rgba(2, 108, 62, 0.7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 0px;
    padding: 50px;
}

.container-box .row {
    margin: 1%;
    font-size: 11px;
}

.container-box .dropdown {
    margin: 0;
}


.container-box input[type="radio"] {
    margin: 10px;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: radio;
    outline: none;
    cursor: pointer;
    display: inline-bloc;
}

.container-box h3,
h4 {
    font-size: 19px;
    transition: 1.4s;
}

.container-box h3 {
    margin-bottom: 10%;
}

.container-box .dropdown h3 {
    margin: 0;
}

.container-box .dropdown h4 {
    margin-top: 30%;

}

.container-box select {
    width: 25vh;
    height: 5vh;
    margin-bottom: 15px;
}

.container-box label {
    display: table-cell;
}

.container-box input label {
    margin-bottom: 10px;
}

.container-box input[type="date"] {
    width: 100%;
    height: 5vh;
    margin: 5px 0;
    margin-bottom: 10px;
}


.container-box input[type="submit"] {
    background: transparent;
    border: solid 1px var(--secondary-bg-color);
    outline: none;
    color: white;
    margin-top: 100vh;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 140px;
}

input[type=submit]:hover {
    border-color: transparent;
    background-color: var(--dark-bg-color);
    color: white;
}

span {
    color: var(--secondary-bg-color);
}

/* BARRES JAUNES */

.left-1 {
    border-right: solid 2px var(--secondary-bg-color);
}

.left-2 {
    border-right: solid 2px var(--secondary-bg-color);
    height: 170px;
}

/* FLECHE PRECEDENT */


.arrow span {
    font-family: 'Roboto', sans-serif;
    color: var(--main-bg-color);
}

.arrow a {
    font-size: 20px;
    font-weight: 100;
    color: var(--main-bg-color);
    transition: 0.4s;
    scroll-behavior: smooth;
}

.arrow a:hover {
    font-size: 26px;
}


/* FLECHE BAS */

.arrow-down {
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    margin: 20px auto 0;
    text-align: center;
}

.arrow-down a {
    color: var(--secondary-bg-color);
    transition: 0.4s;
    scroll-behavior: smooth;
}

.arrow-down a:hover {
    font-size: 126px;
    transition: 0.5s;
}

.container-box .mylabel {
    display: inline-block;
}


/* DEUXIEME PAGE: SEJOUR */

/* Background */
.margin1 {
    margin: 45% 0;
}

.margin2 {
    margin: 8% 0;
}

.container-sej {
    background: url("../assets/gallery/bg.png") repeat 100%;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
}

.container-sej-inner {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* White container */
.cont {
    background-color: white;
    width: 591px;
    height: 450px;
    margin: auto;
    position: relative;
    color: black;

}

/* Text */

.cont h1 {
    color: var(--main-bg-color);
    padding-top: 10%;
    font-weight: lighter;

}

.cont h5 {
    font-size: 10px;
}

.cont p {
    margin: auto;
    margin-top: 5vh;
    width: 300px;
    text-align: center;
    font-size: 14px;
    font-weight: 350;
    margin-bottom: 12vh;
    letter-spacing: 2px;

}

.cont a {
    margin-top: 20%;
    color: var(--main-bg-color);
    font-weight: bolder;
    font-size: 26px;
    letter-spacing: 2px;
    background-color: rgb(245, 236, 69, .7)
}



/* PAGE 3: FORMULAIRE */

/* CONTAINER */
.container-box2 {
    margin-top: 8%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 55%;
    background-color: rgba(2, 108, 62, 0.7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 0px;

}

.row#page3 {
    margin: 6vh;
    font-size: 11px;
}

.container-box2 h3 {
    font-size: 19px;
    transition: 1.4s;
    margin-bottom: 5vh;
}

.container-box2 select {
    width: 70%;
    height: 5vh;
    margin-bottom: 5px;

}

.container-box2 input,
label {
    margin-bottom: 10px;
}

.container-box2 input[type="date"] {
    width: 60%;
    height: 5vh;
}


input[type="submit"] {
    background: transparent;
    border: solid 1px var(--secondary-bg-color);
    outline: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    width: 110px;
    margin-top: 80px;
}

input[type=submit]:hover {
    border-color: transparent;
    background-color: var(--dark-bg-color);
    color: white;
}

span {
    color: var(--secondary-bg-color);
}

/* BARRES JAUNES */

.left-1 {
    border-right: solid 2px var(--secondary-bg-color);
    height: 45vh;
}

hr {
    border: 0;
    clear: both;
    display: block;
    background-color: #FFFF00;
    height: 1px;
}

/* MARGIN BOTTOM CONTAINER */

.margin3 {
    margin: 40% 0;
}